# Node / Frontend
node_modules/
frontend/node_modules/
frontend/dist/
dist/
frontend/.angular/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Environment
.env

# Java / Maven
**/target/
!/.mvn/wrapper/maven-wrapper.jar

# Build outputs
build/
tmp/

# Misc
coverage/
/.classpath
/.project
